%h5= @department.department_name

-# %ul.list-group
-#   - @clinics.each do |clinic|
-#     = link_to(clinic, class: "list-group-item list-group-item-action") do
-#       %h5.list-group-item-heading= clinic.clinic_name

- @department.clinic_departments.each do |clinic_department|
  = link_to(clinic_department.clinic, class: "list-group-item list-group-item-action") do
    = clinic_department.clinic.clinic_name
  
  = debug clinic_department.clinic.id