%h5= @department.department_name

= render 'clinics/clinic_table', clinics: @department.clinic_departments.clinic

:javascript
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })

-# = debug department_clinic.clinic.id