%h5= @department.department_name

- @department.clinic_departments.each do |department_clinic|
  = link_to(department_clinic.clinic, class: "list-group-item list-group-item-action") do
    = department_clinic.clinic.clinic_name
  
  = debug department_clinic.clinic.id