= render 'layouts/flash_messages'

%h1 すべての病院一覧

%ul.list-group
  - @clinics.each do |clinic|
    = link_to(clinic, class: "list-group-item list-group-item-action") do
      %h5.list-group-item-heading= clinic.clinic_name