.sub-title {
  border-bottom: 1px solid #4488BB;
}
.introduction-data{
  margin-top: 16px;
  padding: 12px;
  background: #E8F6F7;
  border-radius: 4px;
}
.disabled{
  cursor: default;
}
.admin-num{
  font-size: medium;
  color: #4488BB;
  padding: 8px;
  vertical-align: middle;
}
tr:hover td {
  background: #ecf2fa;
  cursor:pointer;
}
.menu{
  color:black;
}
.active{
  background: #4488BB;
  color: white;
}
.active:hover{
  color: white;
  text-decoration: none;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}
.nested-fields .form-group label {
  margin-right: 10px;
}
.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
